In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Extract CSVs into DataFrames

In [2]:
adult_file = "Resources/adult.csv"
adult_df = pd.read_csv(adult_file)
adult_df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
country_file = "Resources/countries_of_the_world.csv"
country_df = pd.read_csv(country_file)
country_df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

# Transform adult DataFrame

In [4]:
# # Create a filtered dataframe from specific columns
# adult_cols = ["", "",] 
# adult_transformed= adult_df[adult_cols].copy()

# # Rename the column headers
# adult_transformed = adult_transformed.rename(columns={"": "",
#                                                      "": "",})

# # Clean the data by dropping duplicates and setting the index
# adult_transformed.drop_duplicates("", inplace=True)
# adult_transformed.set_index("", inplace=True)

# adult_transformed.head()

# Transform country DataFrame

In [5]:
# # Create a filtered dataframe from specific columns
# country_cols = ["", "",] 
# country_transformed= country_df[country_cols].copy()

# # Rename the column headers
# country_transformed = country_transformed.rename(columns={"": "",
#                                                      "": "",})

# # Clean the data by dropping duplicates and setting the index
# country_transformed.drop_duplicates("", inplace=True)
# country_transformed.set_index("", inplace=True)

# country_transformed.head()

# Create database connection

In [ ]:
# connection_string = "postgres:postgres@localhost:5432/customer_db"
# engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
# engine.table_names()

# Load DataFrames into database

In [ ]:
#  adult_transformed.to_sql(name='adult', con=engine, if_exists='append', index=True)

In [ ]:
#  country_transformed.to_sql(name='country', con=engine, if_exists='append', index=True)