In [1]:
import pandas as pd
from sqlalchemy import create_engine

from config import (user, password, host, port, database)

# Extract CSVs into DataFrames

In [2]:
adult_file = "Resources/adult.csv"
adult_df = pd.read_csv(adult_file)
adult_df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
country_file = "Resources/countries_of_the_world.csv"
country_df = pd.read_csv(country_file, decimal=",")
country_df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

# Transform adult DataFrame

In [4]:
# # Create a filtered dataframe from specific columns
adult_cols = ["age", "education", "sex", "hours.per.week", "native.country"] 
adult_transformed = adult_df[adult_cols].copy()
adult_transformed.head()

# # Rename the column headers
adult_transformed = adult_transformed.rename(columns={"hours.per.week": "hours_per_week",
                                                     "native.country": "native_country"})
adult_transformed.head()

   age     education     sex  hours_per_week native_country
0   90       HS-grad  Female              40  United-States
1   82       HS-grad  Female              18  United-States
2   66  Some-college  Female              40  United-States
3   54       7th-8th  Female              40  United-States
4   41  Some-college  Female              40  United-States

In [5]:
clean_adult_one = adult_transformed.loc[adult_transformed['native_country'] != "?"]
clean_adult = clean_adult_one.loc[clean_adult_one['native_country'] != "Outlying-US(Guam-USVI-etc)"]
clean_adult.head()

   age     education     sex  hours_per_week native_country
0   90       HS-grad  Female              40  United-States
1   82       HS-grad  Female              18  United-States
2   66  Some-college  Female              40  United-States
3   54       7th-8th  Female              40  United-States
4   41  Some-college  Female              40  United-States

In [6]:
clean_adult['native_country'].value_counts()

United-States         29170
Mexico                  643
Philippines             198
Germany                 137
Canada                  121
Puerto-Rico             114
El-Salvador             106
India                   100
Cuba                     95
England                  90
Jamaica                  81
South                    80
China                    75
Italy                    73
Dominican-Republic       70
Vietnam                  67
Guatemala                64
Japan                    62
Poland                   60
Columbia                 59
Taiwan                   51
Haiti                    44
Iran                     43
Portugal                 37
Nicaragua                34
Peru                     31
Greece                   29
France                   29
Ecuador                  28
Ireland                  24
Hong                     20
Cambodia                 19
Trinadad&Tobago          19
Thailand                 18
Laos                     18
Yugoslavia               16
Hungary                  13
Honduras                 13
Scotland                 12
Holand-Netherlands        1
Name: native_country, dtype: int64

In [7]:
# clean_adult['native_country'].replace('-',' ', inplace=True)
clean_adult['native_country'].replace(['United-States', 'El-Salvador', 'Puerto-Rico', 'Dominican-Republic', 'Holand-Netherlands', 'Trinadad&Tobago'], ['United States', 'El Salvador', 'Puerto Rico', 'Dominican Republic', 'Netherlands', 'Trinidad & Tobago'], inplace=True)
clean_adult['native_country'].value_counts()

C:\Users\trvaughn\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

United States         29170
Mexico                  643
Philippines             198
Germany                 137
Canada                  121
Puerto Rico             114
El Salvador             106
India                   100
Cuba                     95
England                  90
Jamaica                  81
South                    80
China                    75
Italy                    73
Dominican Republic       70
Vietnam                  67
Guatemala                64
Japan                    62
Poland                   60
Columbia                 59
Taiwan                   51
Haiti                    44
Iran                     43
Portugal                 37
Nicaragua                34
Peru                     31
France                   29
Greece                   29
Ecuador                  28
Ireland                  24
Hong                     20
Cambodia                 19
Trinidad & Tobago        19
Thailand                 18
Laos                     18
Yugoslavia               16
Hungary                  13
Honduras                 13
Scotland                 12
Netherlands               1
Name: native_country, dtype: int64

# Transform country DataFrame

In [17]:
# # Create a filtered dataframe from specific columns
country_cols = ["Country", "Region", "Population", "GDP ($ per capita)", "Phones (per 1000)"] 
country_transformed = country_df[country_cols].copy()

# # Rename the column headers
country_transformed = country_transformed.rename(columns={"Country": "native_country",
                                                     "Region": "region",
                                                         "Population": "population",
                                                         "GDP ($ per capita)": "gdp",
                                                         "Phones (per 1000)": "phones_per_1000"})

# # Clean the data by dropping duplicates and setting the index
# country_transformed.drop_duplicates("", inplace=True)
# country_transformed.set_index("", inplace=True)
country_transformed['native_country'] = country_transformed['native_country'].str.rstrip()

# country_transformed['native_country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua & Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia & Herzegovina', 'Botswana', 'Brazil', 'British Virgin Is.',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Rep.', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Repub. of the',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Gaza Strip', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau',
       'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Fed. St.',
       'Moldova', 'Monaco', 'Mongolia', 'Montserrat', 'Morocco',
       'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'N. Mariana Islands', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts & Nevis', 'Saint Lucia',
       'St Pierre & Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome & Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad & Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks & Caicos Is', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Virgin Islands', 'Wallis and Futuna', 'West Bank',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
# country_transformed['native_country'].replace('-',' ', inplace=True)
country_transformed['gdp'].replace('', '0', inplace=True)
country_transformed['gdp'].value_counts()

800.0      7
700.0      6
1900.0     5
1800.0     5
600.0      4
          ..
8300.0     1
36000.0    1
2700.0     1
16900.0    1
17200.0    1
Name: gdp, Length: 130, dtype: int64

In [10]:
country_transformed['phones_per_1000'].replace('', '0', inplace=True)
country_transformed['phones_per_1000'].value_counts()
country_transformed.dtypes

native_country      object
region              object
population           int64
gdp                float64
phones_per_1000    float64
dtype: object

# Create database connection

In [11]:
# Create engine
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
conn = engine.connect()

In [12]:
# Confirm tables
engine.table_names()

['country', 'adult']

# Load DataFrames into database

In [13]:
 country_transformed.to_sql(name='country', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (native_country)=(Afghanistan ) already exists.

[SQL: INSERT INTO country (native_country, region, population, gdp, phones_per_1000) VALUES (%(native_country)s, %(region)s, %(population)s, %(gdp)s, %(phones_per_1000)s)]
[parameters: ({'native_country': 'Afghanistan ', 'region': 'ASIA (EX. NEAR EAST)         ', 'population': 31056997, 'gdp': 700.0, 'phones_per_1000': 3.2}, {'native_country': 'Albania ', 'region': 'EASTERN EUROPE                     ', 'population': 3581655, 'gdp': 4500.0, 'phones_per_1000': 71.2}, {'native_country': 'Algeria ', 'region': 'NORTHERN AFRICA                    ', 'population': 32930091, 'gdp': 6000.0, 'phones_per_1000': 78.1}, {'native_country': 'American Samoa ', 'region': 'OCEANIA                            ', 'population': 57794, 'gdp': 8000.0, 'phones_per_1000': 259.5}, {'native_country': 'Andorra ', 'region': 'WESTERN EUROPE                     ', 'population': 71201, 'gdp': 19000.0, 'phones_per_1000': 497.2}, {'native_country': 'Angola ', 'region': 'SUB-SAHARAN AFRICA                 ', 'population': 12127071, 'gdp': 1900.0, 'phones_per_1000': 7.8}, {'native_country': 'Anguilla ', 'region': 'LATIN AMER. & CARIB    ', 'population': 13477, 'gdp': 8600.0, 'phones_per_1000': 460.0}, {'native_country': 'Antigua & Barbuda ', 'region': 'LATIN AMER. & CARIB    ', 'population': 69108, 'gdp': 11000.0, 'phones_per_1000': 549.9}  ... displaying 10 of 227 total bound parameter sets ...  {'native_country': 'Zambia ', 'region': 'SUB-SAHARAN AFRICA                 ', 'population': 11502010, 'gdp': 800.0, 'phones_per_1000': 8.2}, {'native_country': 'Zimbabwe ', 'region': 'SUB-SAHARAN AFRICA                 ', 'population': 12236805, 'gdp': 1900.0, 'phones_per_1000': 26.8})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [14]:
 clean_adult.to_sql(name='adult', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "adult" violates foreign key constraint "country_fk"
DETAIL:  Key (native_country)=(United States) is not present in table "country".

[SQL: INSERT INTO adult (age, education, sex, hours_per_week, native_country) VALUES (%(age)s, %(education)s, %(sex)s, %(hours_per_week)s, %(native_country)s)]
[parameters: ({'age': 90, 'education': 'HS-grad', 'sex': 'Female', 'hours_per_week': 40, 'native_country': 'United States'}, {'age': 82, 'education': 'HS-grad', 'sex': 'Female', 'hours_per_week': 18, 'native_country': 'United States'}, {'age': 66, 'education': 'Some-college', 'sex': 'Female', 'hours_per_week': 40, 'native_country': 'United States'}, {'age': 54, 'education': '7th-8th', 'sex': 'Female', 'hours_per_week': 40, 'native_country': 'United States'}, {'age': 41, 'education': 'Some-college', 'sex': 'Female', 'hours_per_week': 40, 'native_country': 'United States'}, {'age': 34, 'education': 'HS-grad', 'sex': 'Female', 'hours_per_week': 45, 'native_country': 'United States'}, {'age': 38, 'education': '10th', 'sex': 'Male', 'hours_per_week': 40, 'native_country': 'United States'}, {'age': 74, 'education': 'Doctorate', 'sex': 'Female', 'hours_per_week': 20, 'native_country': 'United States'}  ... displaying 10 of 31964 total bound parameter sets ...  {'age': 58, 'education': 'HS-grad', 'sex': 'Female', 'hours_per_week': 40, 'native_country': 'United States'}, {'age': 22, 'education': 'HS-grad', 'sex': 'Male', 'hours_per_week': 20, 'native_country': 'United States'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)